[SddmGreeterTheme]
Name=Vinyl
Name[ar]=فينيل (Fīnil)
Name[az]=Vinil
Name[be]=Вініл (Vinil)
Name[bg]=Винил (Vinil)
Name[ca]=Vinil
Name[cs]=Vinyl
Name[da]=Vinyl
Name[de]=Vinyl
Name[el]=Βινύλιο (Vinýlio)
Name[en_GB]=Vinyl
Name[eo]=Vinilo
Name[es]=Vinilo
Name[eu]=Binilo
Name[fi]=Vinyyli
Name[fr]=Vinyle
Name[gl]=Vinilo
Name[he]=ויניל (Vinil)
Name[hu]=Vinil
Name[ia]=Vinyl
Name[id]=Vinil
Name[is]=Vínýl
Name[it]=Vinile
Name[ka]=ვინილი (Vinili)
Name[ko]=비닐 (Binil)
Name[lt]=Vinilas
Name[lv]=Vinils
Name[nb]=Vinyl
Name[nl]=Vinyl
Name[nn]=Vinyl
Name[pa]=ਵਿਨਾਇਲ (Vinā'ila)
Name[pl]=Winyl
Name[pt_BR]=Vinil
Name[ro]=Vinil
Name[ru]=Винил (Vinil)
Name[sa]=विनायल (Vināyal)
Name[sl]=Vinil
Name[sv]=Vinyl
Name[ta]=வினைல் (Vinaiyel)
Name[tr]=Vinil
Name[uk]=Вініл (Vinil)
Name[x-test]=xxVinylxx
Name[zh_CN]=乙烯基 (Yǐxījī)
Name[zh_TW]=乙烯基 (Yǐxījī)
Description=Vinyl SDDM theme
Description[ar]=سمة فينيل لـ SDDM (Simat Fīnil li-SDDM)
Description[az]=Vinyl SDDM mövzusu
Description[be]=Тэма Vinyl SDDM (Tema Vinyl SDDM)
Description[bg]=Тема Vinyl SDDM (Tema Vinyl SDDM)
Description[ca]=Tema Vinyl SDDM
Description[cs]=Téma Vinyl SDDM
Description[da]=Vinyl SDDM-tema
Description[de]=Vinyl SDDM-Theme
Description[el]=Θέμα Vinyl SDDM (Théma Vinyl SDDM)
Description[en_GB]=Vinyl SDDM theme
Description[eo]=Vinila SDDM-temo
Description[es]=Tema Vinyl SDDM
Description[eu]=Binilo SDDM gaia
Description[fi]=Vinyl SDDM -teema
Description[fr]=Thème Vinyl SDDM
Description[gl]=Tema Vinyl SDDM
Description[he]=ערכת נושא Vinyl SDDM (Arkat Nosé Vinyl SDDM)
Description[hu]=Vinyl SDDM téma
Description[ia]=Thema Vinyl SDDM
Description[id]=Tema SDDM Vinyl
Description[is]=Vinyl SDDM þema
Description[it]=Tema Vinyl SDDM
Description[ka]=ვინილის SDDM თემა (Vinilis SDDM Tema)
Description[ko]=비닐 SDDM 테마 (Binil SDDM Tema)
Description[lt]=Vinyl SDDM tema
Description[lv]=Vinyl SDDM tēma
Description[nb]=Vinyl SDDM-tema
Description[nl]=Vinyl SDDM-thema
Description[nn]=Vinyl SDDM-tema
Description[pa]=ਵਿਨਾਇਲ SDDM ਥੀਮ (Vinā'ila SDDM Thīma)
Description[pl]=Motyw Vinyl SDDM
Description[pt_BR]=Tema Vinyl SDDM
Description[ro]=Temă Vinyl SDDM
Description[ru]=Тема Vinyl SDDM (Tema Vinyl SDDM)
Description[sa]=विनायल SDDM थीम (Vināyal SDDM Thīma)
Description[sl]=Tema Vinyl SDDM
Description[sv]=Vinyl SDDM-tema
Description[ta]=வினைல் SDDM தீம் (Vinaiyel SDDM Theem)
Description[tr]=Vinyl SDDM teması
Description[uk]=Тема Vinyl SDDM (Tema Vinyl SDDM)
Description[zh_CN]=乙烯基 SDDM 主题 (Yǐxījī SDDM Zhǔtí)
Description[zh_TW]=乙烯基 SDDM 主題 (Yǐxījī SDDM Zhǔtí)
Author=Ekaaty Artwork Team
Copyright=(c) 2014, David Edmundson (c) 2025, Christian Tosta
License=CC-BY-SA
Type=sddm-theme
Version=6.5.3.25.12.5
Website=https://github.com/ekaaty/vinyl-theme/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=7252968+christiantosta@users.noreply.github.com
Theme-Id=com.ekaaty.vinyl-sddm
Theme-API=2.0
QtVersion=6
