.cache
.clang-format
.clangd
.idea
.qt

build/
bin/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
cmake-build*
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
dist/
ecm_uninstall.cmake
kstyle6/
libvinylcommon6/
prefix.sh
VinylConfig.cmake
VinylConfigVersion.cmake

_CPack_Packages/
temp/
