.cache
.clang-format
.clangd
.idea
.qt/
/cmake-build*
/compile_commands.json
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
VinylConfig.cmake
VinylConfigVersion.cmake
_CPack_Packages
build
cmake_install.cmake
dist
ecm_uninstall.cmake
kstyle6/
prefix.sh
