[Desktop Entry]
Exec=kcmshell6 vinyldecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration3/vinyldecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Vinyl Window Decoration
Name[ca]=Decoració de les finestres Brisa
Name[ca@valencia]=Decoració de les finestres Brisa
Name[cs]=Dekorace oken Vinyl
Name[da]=Vinyl vinduesdekoration
Name[de]=Vinyl-Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου Vinyl
Name[en_GB]=Vinyl Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[et]=Vinyl akna dekoratsioon
Name[eu]=Vinyl leihoen apaindura
Name[fi]=Vinyl-ikkunankehys
Name[fr]=Décoration de fenêtre Brise
Name[gl]=Decoración de xanela de Vinyl
Name[hu]=Vinyl ablakdekoráció
Name[ia]=Decoration de fenestra Vinyl
Name[id]=Dekorasi Window Vinyl
Name[it]=Decorazione delle finestre di Brezza
Name[ko]=Vinyl 창 장식
Name[lt]=Vinyl langų dekoracija
Name[nl]=Vinyl vensterdecoratie
Name[nn]=Vinyl-vindaugsdekorasjon
Name[pa]=ਬਰੀਜ਼ ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Vinyl
Name[ru]=Оформление окон Vinyl
Name[sk]=Dekorácie okien Vinyl
Name[sl]=Okraski oken Sapica
Name[sr]=Поветарчева декорација прозора
Name[sr@ijekavian]=Поветарчева декорација прозора
Name[sr@ijekavianlatin]=Povetarčeva dekoracija prozora
Name[sr@latin]=Povetarčeva dekoracija prozora
Name[sv]=Vinyl fönsterdekoration
Name[tg]=Ороиши равзанаи Насим
Name[tr]=Vinyl Pencere Dekorasyonu
Name[uk]=Декорації вікон Vinyl
Name[x-test]=xxVinyl Window Decorationxx
Name[zh_CN]=微风窗口装饰
Name[zh_TW]=Vinyl 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ar]=عدّل مظهر زخرفات النّوافذ
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[he]=התאם את מראה מסגרות החלונות
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[id]=Memodifikasi penampilan dekorasi window
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nb]=Endre utseende for vindusdekorasjoner
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pa]=ਵਿੰਡੋ ਸਜਾਵਟ ਦੀ ਦਿੱਖ ਨੂੰ ਸੋਧੋ
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ro]=Modifică aspectul decorațiilor pentru ferestre
Comment[ru]=Настройка заголовков окон в стиле Vinyl
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tg]=Тағйир додани ороиши намуди зоҳирии равзанаҳо
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=vinyl,decoration
X-KDE-Keywords[ar]=نسيم,زخرفة
X-KDE-Keywords[ca]=vinyl,brisa,decoració
X-KDE-Keywords[ca@valencia]=vinyl,brisa,decoració
X-KDE-Keywords[cs]=vinyl,dekorace
X-KDE-Keywords[da]=vinyl,dekoration
X-KDE-Keywords[de]=Vinyl-Dekoration
X-KDE-Keywords[el]=vinyl,διακόσμηση
X-KDE-Keywords[en_GB]=vinyl,decoration
X-KDE-Keywords[es]=vinyl,brisa,decoración
X-KDE-Keywords[et]=vinyl,dekoratsioon
X-KDE-Keywords[eu]=vinyl,apainketa,apaindura
X-KDE-Keywords[fi]=vinyl,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=brise,décoration
X-KDE-Keywords[gl]=vinyl,decoración
X-KDE-Keywords[he]=vinyl,decoration,מסגרת
X-KDE-Keywords[hu]=vinyl,dekoráció
X-KDE-Keywords[ia]=vinyl,decoration
X-KDE-Keywords[id]=vinyl,dekorasi
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[ko]=vinyl,decoration,장식
X-KDE-Keywords[lt]=vinyl,dekoracija
X-KDE-Keywords[nb]=beeze,dekorasjon
X-KDE-Keywords[nl]=vinyl,decoratie
X-KDE-Keywords[nn]=vinyl,dekorasjonar,pynt
X-KDE-Keywords[pa]=ਬਰੀਜ਼,ਸਜਾਵਟ
X-KDE-Keywords[pl]=vinyl,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=vinyl,decoração
X-KDE-Keywords[ro]=briză,vinyl,decorare,decorație
X-KDE-Keywords[ru]=vinyl,бриз,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=vánok,dekorácia
X-KDE-Keywords[sl]=sapica,okraski
X-KDE-Keywords[sr]=vinyl,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=vinyl,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=vinyl,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=vinyl,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=vinyl,dekoration
X-KDE-Keywords[tg]=насим,ороиш
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=vinyl,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxvinylxx,xxdecorationxx
X-KDE-Keywords[zh_CN]=微风,装饰,修饰
X-KDE-Keywords[zh_TW]=vinyl,decoration
