# openSUSE Tumbleweed
# Build Vinyl from release tag and publish .rpm package
on:
  workflow_call:
    inputs:
      cache-file-path:
        required: true
        type: string
      version:
        required: true
        type: string
      package_name:
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-24.04
    container: opensuse/tumbleweed:latest
    steps:
      - name: Install dependencies
        run: |
          zypper in -y --allow-downgrade --no-recommends 'cmake' \
            'cmake(KDecoration3)' 'cmake(KF6ConfigWidgets)' 'cmake(KF6Config)' 'cmake(KF6CoreAddons)' \
            'cmake(KF6Crash)' 'cmake(KF6DocTools)' 'cmake(KF6FrameworkIntegration)' \
            'cmake(KF6GlobalAccel)' 'cmake(KF6GuiAddons)' 'cmake(KF6I18n)' 'cmake(KF6IconThemes)' \
            'cmake(KF6KCMUtils)' 'cmake(KF6KIO)' 'cmake(KF6Notifications)' 'cmake(KF6Package)' \
            'cmake(KF6WindowSystem)' 'cmake(KF6KirigamiPlatform)' 'cmake(KWayland)' 'cmake(KWin)' \
            'cmake(Plasma)' 'cmake(Qt6Core)' 'cmake(Qt6Core5Compat)' 'cmake(Qt6DBus)' 'cmake(Qt6Gui)' \
            'cmake(Qt6UiTools)' 'pkgconfig(epoxy)' 'python3-CairoSVG' 'python3-lxml' \
            'extra-cmake-modules' 'gcc-c++' 'git' 'xcursorgen' 'unzip' 'zstd' 'rpm-build' 'rpmdevtools' 'fdupes' \
            'qt6-quickcontrols2-devel' 'qt6-quicklayouts-devel'
      - uses: actions/cache/restore@v4
        id: cache
        with:
          key: ${{ runner.os }}-v${{ inputs.version }}-${{ hashFiles(inputs.cache-file-path) }}
          path: ${{ inputs.cache-file-path }}
          fail-on-cache-miss: true
      - name: Extract tarball
        run: tar xf ${{ inputs.cache-file-path }}
      - name: Build source
        run: |
          cmake_opts=(
            -B ${{ inputs.package_name }}-${{ inputs.version }}/build
            -S ${{ inputs.package_name }}-${{ inputs.version }}
            -DBUILD_RPMS=ON
          )
          echo "${cmake_opts[@]}"
          cmake "${cmake_opts[@]}" && cmake --build ${{ inputs.package_name }}-${{ inputs.version }}/build -j$(nproc) && echo "Build completed!" || echo "Build failed!" || exit 1
      - name: Build RPM package
        id: step_build
        run: |
          cd ${{ inputs.package_name }}-${{ inputs.version }}/build; cpack -G RPM -V -DCPACK_THREADS=$(nproc)
          artifact=$GITHUB_WORKSPACE/${{ inputs.package_name }}-${{ inputs.version }}/dist/${{ inputs.package_name }}-${{ inputs.version }}.x86_64.rpm
          publish_filename=${{ inputs.package_name }}-${{ inputs.version }}.openSUSE-tumbleweed.x86_64.rpm
          echo "Moving file to $GITHUB_WORKSPACE/$publish_filename"
          mv $artifact $GITHUB_WORKSPACE/$publish_filename
          echo "ARTIFACT=$publish_filename" >> "$GITHUB_ENV"
          SHA256SUM=$(sha256sum $GITHUB_WORKSPACE/$publish_filename | awk '{ print $1 }')
          echo "ARTIFACT = $publish_filename | SHA256SUM = $SHA256SUM"
          echo "SHA256SUM=$SHA256SUM" >> "$GITHUB_ENV"
      - name: Publish RPM
        if: ${{ env.SHA256SUM != '' }}
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ env.ARTIFACT }}
          retention-days: 1
