name: Publish release
on: workflow_call
jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Get version
        uses: actions/download-artifact@v5
        with:
          name: VERSION
      - name: Set version
        run: echo "VERSION=$(cat VERSION | xargs)" >> "$GITHUB_ENV"
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: vinyl-theme-${{ env.VERSION }}*
          merge-multiple: true
      - name: Release
        uses: softprops/action-gh-release@v2.4.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: vinyl-theme-${{ env.VERSION }}*
